// vars

$img_path: '/iamges';


// the fonts


// col width
$one_col_width: 12.5%;

// fonts and typefaces

$font_body: 'Roboto', sans-serif;
$font_header_play: 'Playfair Display', serif;
$font_header_teko: 'Teko', sans-serif;
$font_cta: 'Bodoni', sans-serif;

$text_color: #222222;

$blue: #34566F;
$orange: #C88833;



// default top bar layout bits
$topBarHeight: 70px;
$topBarMobileHeight: 60px;
$defaultWidthHeight: 32px;
